################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VismaClient/.vs/VismaClient
/VismaClient/VismaClient/bin/Debug/netcoreapp3.1
/VismaClient/VismaClient/obj
